body {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0%;
}

.list {
  display: inline-flex;
  text-align: center;
}
.capital {
  text-align: left;
}
.listItem {
  margin-right: 140px;
}
