body {
  text-align: center;
  padding: 50px;
  background-color: tomato;
}
ul {
  list-style: none;
  padding: 0%;
}

.list {
  display: inline-flex;
  text-align: center;
}
.capital {
  text-align: left;
}
.listItem {
  margin-right: 140px;
}

.pnotify-container {
  top: 20px;
  left: -250px;
  display: block;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-image: url(./images/stopp.png);
  font-style: bold;
}
